<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Evaluate+</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-cyan.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/pickUnit.css">
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title"><a href="/"><img src="/images/evaluate.png"></a></span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="/review">Review</a>
                    <a class="mdl-navigation__link" href="/search-units">View Subjects</a>
                    <a class="mdl-navigation__link" href="/electives-planning">Course Planner</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer toggle-background-color">
            <span class="mdl-layout-title toggle-text-color">Menu</span>
            <nav class="mdl-navigation">
                <div class="mdl-navigation__link" style="background-color: floralwhite;">
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="dark-mode">
                        <input type="checkbox" id="dark-mode" class="mdl-switch__input" onchange="toggleDarkMode()">
                        <span class="mdl-switch__label">Dark Mode</span>
                    </label>
                </div>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">

                <div class="mdl-grid toggle-text-color">
                    <div class="mdl-cell mdl-cell--2-col"></div>
                    <div class="mdl-cell mdl-cell--8-col">
                        <h5 style="text-align: center;">Select an elective to add to your course map: </h5>
                    </div>
                    <br>
                    
                    <div> 
                        <p style="position: absolute; top: 11%; left: 63%;">Show recommended units based on your reviews</p>
                        <label class="switch" style="position: absolute; display: inline-block; width: 60px; height: 34px; left: 85%; top:10%">
                            <input type="checkbox" style="opacity: 0; width: 0; height: 0;" onclick="toggleSwitch()"  id = "recommended">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    
                    
                    <div class="mdl-cell mdl-cell--2-col"></div>
                </div>
                <br>

                <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                    <thead id="tableHead"></thead>
                    <tbody id="tableBody"></tbody>
                </table>
            </div>
        </main>
    </div>
    <script src="/scripts/pickUnit.js"></script>
    <script src="/scripts/global.js"></script>
    <script src="/scripts/algorithm.js"></script>
</body>
</html>