<!DOCTYPE html>
<html>
<head>
    <title>Evaluate+</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.teal-cyan.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/subjects.css">
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title"><a href="/"><img src="/images/evaluate.png"></a></span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <a class="mdl-navigation__link" href="/review">Review</a>
                    <a class="mdl-navigation__link" href="/search-units">View Subjects</a>
                    <a class="mdl-navigation__link" href="/electives-planning">Course Planner</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer toggle-background-color">
            <span class="mdl-layout-title toggle-text-color">Menu</span>
            <nav class="mdl-navigation">
                <div class="mdl-navigation__link" style="background-color: floralwhite;">
                    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="dark-mode">
                        <input type="checkbox" id="dark-mode" class="mdl-switch__input" onchange="toggleDarkMode()">
                        <span class="mdl-switch__label">Dark Mode</span>
                    </label>
                </div>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">

                <!-- Link to handbook -->
                <a class="right" id="handbook_button" href="#" target="_blank">
                    <i style="font-size: 92px; color: rgb(0,150,136);" class="material-icons">article</i>
                </a>

                <div class="left mdl-shadow--2dp" id="algorithm_area">
                    <span class="subheading">Pairs well with:</span>
                    <ul class="list-icon mdl-list" id="algorithm_list">
                        <li class="mdl-list__item suggested-unit">
                            <span class="mdl-list__item-primary-content"  style="display:inline-grid !important;">
                            <i class="mdl-list__item-icon material-icons"></i>
                                there doesnt seem to be anything here...
                            </span>
                        </li>
                    </ul>
                </div>

                <!-- Unit Code / Title -->
                <div class="unit toggle-text-color">
                    <div class="title" id="unitCode"></div><br>
                    <div class="unitName"><h3 id="title"></h3></div>
                </div>

                <!-- Data Boxes -->
                <div class="data">
                    <!-- Overall Rating -->
                    <div id="rating" class="card mdl-shadow--2dp">
                        <div class="digit">
                            <h2 class="digit-text" id="avgRating">-</h2>
                        </div>
                        <div class="mdl-card__actions mdl-card--border"> <br>
                            Overall Rating
                        </div>
                    </div>                
                    <!-- Coursework Difficulty -->
                    <div id="coursework" class="card mdl-shadow--2dp">
                        <div class="digit">
                            <h2 class="digit-text" id="avgCourseworkDifficulty">-</h2>
                        </div>
                        <div class="mdl-card__actions mdl-card--border"><br>
                            Coursework Difficulty
                        </div>
                    </div>                
                    <!-- Exam Difficulty -->
                    <div id="exam" class="card mdl-shadow--2dp">
                        <div class="digit">
                            <h2 class="digit-text" id="avgFinalAssessmentDifficulty">-</h2>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            Final Assessment Difficulty
                        </div>
                    </div>
                    <!-- How well run -->
                    <div id="run" class="card mdl-shadow--2dp">                    
                        <div class="digit">
                            <h2 class="digit-text" id="avgCoordinationLevel">-</h2>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            How well this unit was run/operated
                        </div>
                    </div>        
                    <!-- Percentage Recommended-->
                    <div id="recommend" class="card mdl-shadow--2dp">
                        <div class="digit">
                            <h2 class="digit-text" id="avgRecommendations">-</h2>
                        </div>
                        <div class="mdl-card__actions mdl-card--border"><br>
                            Percent Recommended
                        </div>
                    </div>
                </div>
               
                <!-- Reviews-->
                <div class="reviews">
                    <h4 class="subheading toggle-text-color">Reviews</h4>
                    <ul class="mdl-list review-list" id="written-reviews">
                    <!-- INSTANCE 1-->
                        <li> There are no reviews yet...</li>
                    </ul>
                </div>
                </div>
            </div>
        </main>
    </div>
    <script src="/scripts/subjects.js"></script>
    <script src="/scripts/global.js"></script>
</body>
</html>